In [1]:
import numpy as np
import pandas as pd

In [2]:
Gp1 = pd.read_csv("set2/Sr2setG1S2.csv")
Gp2 = pd.read_csv("set2/Sr4setG3S2.csv")
Gp3 = pd.read_csv("set2/Sr5setG4S2.csv")
Gp4 = pd.read_csv("set2/Sr6setG5S2.csv")
Gp5 = pd.read_csv("set2/Sr7setG6S2.csv")
Gp6 = pd.read_csv("set2/Sr8setG7S2.csv")
Gp7 = pd.read_csv("set2/Sr9setG8S2.csv")
Gp8 = pd.read_csv("set2/Sr10setG2S2.csv")

Gp9 = pd.read_csv("Team1S1/Sr2setG1S3 (Responses) - Form Responses 1.csv")
Gp10 = pd.read_csv("Team1S1/Sr2setG1S4 (Responses) - Form Responses 1.csv")
Gp11 = pd.read_csv("Team1S1/Sr2setG1S5 (Responses) - Form Responses 1.csv")
Gp12 = pd.read_csv("Team1S1/Sr2setG1S6 (Responses) - Form Responses 1.csv")
Gp13 = pd.read_csv("Team1S1/Sr2setG1S7 (Responses) - Form Responses 1.csv")
Gp14 = pd.read_csv("Team1S1/Sr4setG8000S3 (Responses) - Form Responses 1.csv")
Gp15 = pd.read_csv("Team1S1/Sr4setG8000S4 (Responses) - Form Responses 1.csv")
Gp16 = pd.read_csv("Team1S1/Sr4setG8000S5 (Responses) - Form Responses 1.csv")


G1 = pd.read_csv("Team2S1/Sr4setG8000S6.csv")
G2 = pd.read_csv("Team2S1/Sr4setG8000S7.csv")
G3 = pd.read_csv("Team2S1/Sr7setG8000S3.csv")
G4 = pd.read_csv("Weak2Team1Set1/Sr11Team1S2.1.csv")
G5 = pd.read_csv("Weak2Team1Set1/Sr11Team1S2.2.csv")
G6 = pd.read_csv("Weak2Team1Set1/Sr12Team1S2.1.csv")
G7 = pd.read_csv("Weak2Team1Set1/Sr12Team1S2.2.csv")
G8 = pd.read_csv("Weak2Team1Set1/Sr13Team1S2.1.csv")
G9 = pd.read_csv("Weak2Team1Set1/Sr13Team1S2.2.csv")
G10 = pd.read_csv("Weak2Team1Set1/Sr14Team1S2.1.csv")
G11 = pd.read_csv("Weak2Team1Set1/Sr14Team1S2.2.csv")
G12 = pd.read_csv("Weak2Team1Set1/Sr16Team1S2.1.csv")
G13 = pd.read_csv("Weak2Team1Set1/Sr16Team1S2.2.csv")
G14 = pd.read_csv("Weak2Team1Set2/Sr17Team1S2.1.csv")
G15 = pd.read_csv("Weak2Team1Set2/Sr17Team1S2.2.csv")


LGp1 = pd.read_csv("Lab2Annotations/Sr16S5.csv")
LGp2 = pd.read_csv("Lab2Annotations/Sr16S6.csv")
LGp3 = pd.read_csv("Lab2Annotations/Sr16S8.csv")
LGp4 = pd.read_csv("Lab2Annotations/Sr17S4.csv")
LGp5 = pd.read_csv("Lab2Annotations/Sr17S6.csv")
LGp6 = pd.read_csv("Lab2Annotations/Sr17S7.csv")
LGp7 = pd.read_csv("Lab2Annotations/Sr17S8.csv")
LGp8 = pd.read_csv("Lab2Annotations/Sr18S5.csv")

LGp9 = pd.read_csv("Lab2Annotations/Sr18S6.csv")
LGp10 = pd.read_csv("Lab2Annotations/Sr18S7.csv")
LGp11 = pd.read_csv("Lab2Annotations/Sr18S8.csv")
LGp12 = pd.read_csv("Lab2Annotations/Sr18S9.csv")
LGp13 = pd.read_csv("Lab2Annotations/Sr19S5.csv")
LGp14 = pd.read_csv("Lab2Annotations/Sr19S6.csv")
LGp15 = pd.read_csv("Lab2Annotations/Sr21S3.csv")
LGp16 = pd.read_csv("Lab2Annotations/Sr23S3.csv")

LGp17 = pd.read_csv("Lab2Annotations/Sr24S3.csv")
LGp18 = pd.read_csv("Lab2Annotations/Sr24S4.csv")
LGp19 = pd.read_csv("Lab2Annotations/Sr25S3.csv")
LGp20 = pd.read_csv("Lab2Annotations/Sr25S4.csv")



LG1 = pd.read_csv("Lab1Annotations/Sr11S3.csv")
LG2 = pd.read_csv("Lab1Annotations/Sr12S3.csv")
LG3 = pd.read_csv("Lab1Annotations/Sr12S5.csv")
LG4 = pd.read_csv("Lab1Annotations/Sr13S3.csv")
LG5 = pd.read_csv("Lab1Annotations/Sr13S5.csv")
LG6 = pd.read_csv("Lab1Annotations/Sr14S3.csv")
LG7 = pd.read_csv("Lab1Annotations/Sr14S4.csv")
LG8 = pd.read_csv("Lab1Annotations/Sr16S4.csv")
LG9 = pd.read_csv("Lab1Annotations/Sr17S3.csv")
LG10 = pd.read_csv("Lab1Annotations/Sr18S3.csv")
LG11 = pd.read_csv("Lab1Annotations/Sr18S4.csv")
LG12 = pd.read_csv("Lab1Annotations/Sr19S3.csv")
LG13 = pd.read_csv("Lab1Annotations/Sr19S4.csv")
LG14 = pd.read_csv("Lab1Annotations/Sr20S3.csv")
LG15 = pd.read_csv("Lab1Annotations/Sr31S3.csv")
LG16 = pd.read_csv("Lab1Annotations/Sr31S4.csv")
LG17 = pd.read_csv("Lab1Annotations/Sr31S5.csv")

GL = [LG1, LG2, LG3, LG4, LG5, LG6, LG7, LG8, LG9, LG10, LG11, LG12, LG13, LG14, LG15, LG16, LG17, LGp1, LGp2, LGp3, LGp4, LGp5, LGp6, LGp7, LGp8, LGp9, LGp10, LGp11, LGp12, LGp13, LGp14, LGp15, LGp16, LGp17, LGp18, LGp19, LGp20]


G = GL+[G1, G2, G3, G4, G5, G6, G7, G8, G9, G10, G11, G12, G13, G14, G15, Gp1, Gp2, Gp3, Gp4, Gp5, Gp6, Gp7, Gp8, Gp9, Gp10, Gp11, Gp12, Gp13, Gp14, Gp15, Gp16]

In [3]:
for i in range(len(G)):
    if 'Email Address' in G[i].columns:
        G[i] = G[i].drop(['Email Address'], axis = 1)
    if 'Username' in G[i].columns:
        G[i] = G[i].drop(['Username'], axis = 1)

    G[i] = G[i].drop(['Timestamp'], axis=1)

In [4]:
def convertToRow(df):
    new_df= df[df.columns[:6]]
    for i in range(6, len(df.columns), 6):
        temp_df = df[df.columns[i:i+6]]
        temp_df.rename(columns = {'Image.'+str(i//6):'Image', 'Text.'+str(i//6):'Text', 'Image + Text.'+str(i//6):'Image + Text', 'If Harmful / Severely Harmful, Why?.'+str(i//6):'If Harmful / Severely Harmful, Why?', 'Id.'+str(i//6):'Id', 'Is this a meme?.'+str(i//6):'Is this a meme?' }, inplace = True)
        new_df = pd.concat([new_df, temp_df], axis=0, ignore_index=True)
    return new_df

In [5]:
for i in range(len(G)):
    G[i] = convertToRow(G[i])

/Users/adwaitkesharwani/opt/anaconda3/lib/python3.9/site-packages/pandas/core/frame.py:5039: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [6]:
df = G[0].append(G[1])
for i in range(2, len(G)):
    df = df.append(G[i])

In [7]:
final_df = pd.read_csv("FinalTill14Jan/AnnotatedDataTillJan14.csv")

In [8]:
df = df[(df['Id'].isin(final_df['Id'].values))]

In [9]:
df.head()

,Id,Is this a meme?,Image,Text,Image + Text,"If Harmful / Severely Harmful, Why?"
0,iytb7r.jpg,Yes,Non Harmful,Non Harmful,Non Harmful,NaN
1,iytb7r.jpg,Yes,Non Harmful,Non Harmful,Non Harmful,NaN
2,iytb7r.jpg,Yes,Non Harmful,Non Harmful,Non Harmful,NaN
3,iy6m82.jpg,Yes,Harmful,Harmful,Harmful,Against Celebrity/Individual;Violent Content
4,iy6m82.jpg,Yes,Harmful,Non Harmful,Harmful,Against Celebrity/Individual

In [10]:
from sklearn.preprocessing import LabelEncoder
cols_to_encode = ['Is this a meme?', 'Text', 'Image', 'Image + Text']
for col in cols_to_encode:
    label_encoder = LabelEncoder()
    
    df[col] = label_encoder.fit_transform(df[col])
    for i in range(len(G)):
        G[i][col] = label_encoder.transform(G[i][col])

In [11]:
for i in range(len(G)):
    G[i] = G[i].drop(["If Harmful / Severely Harmful, Why?"], axis=1)

In [12]:
def merge_repeated_data(df):
    new_df = pd.DataFrame()
    unique_ids = df['Id'].unique()

    for id in unique_ids:
        current_df = df[df['Id'] == id]
        data = {}
        
        for col in current_df.columns:
            if col != 'Id':
                col_data = current_df[col].tolist()
                
                data[col + '_1'] = col_data[0]
                data[col + '_2'] = col_data[1]
                data[col + '_3'] = col_data[2]
                
        new_df = new_df.append(data, ignore_index=True)
    return new_df

In [13]:
for i in range(len(G)):
    G[i] = merge_repeated_data(G[i])

In [14]:
df = G[0].append(G[1])
for i in range(2, len(G)):
    df = df.append(G[i])

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3539 entries, 0 to 49
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Is this a meme?_1  3539 non-null   float64
 1   Is this a meme?_2  3539 non-null   float64
 2   Is this a meme?_3  3539 non-null   float64
 3   Image_1            3539 non-null   float64
 4   Image_2            3539 non-null   float64
 5   Image_3            3539 non-null   float64
 6   Text_1             3539 non-null   float64
 7   Text_2             3539 non-null   float64
 8   Text_3             3539 non-null   float64
 9   Image + Text_1     3539 non-null   float64
 10  Image + Text_2     3539 non-null   float64
 11  Image + Text_3     3539 non-null   float64
dtypes: float64(12)
memory usage: 359.4 KB

In [16]:
df.head()

,Is this a meme?_1,Is this a meme?_2,Is this a meme?_3,Image_1,Image_2,Image_3,Text_1,Text_2,Text_3,Image + Text_1,Image + Text_2,Image + Text_3
0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,3.0
2,1.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
3,1.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,2.0
4,1.0,0.0,1.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,3.0

In [17]:
import krippendorff

voting_data = df[['Is this a meme?_1', 'Is this a meme?_2', 'Is this a meme?_3']].values
alpha = krippendorff.alpha(reliability_data=voting_data)
print("Is this a meme?_1:   "+ str(alpha.round(6)))

voting_data = df[['Image_1', 'Image_2', 'Image_3']].values
alpha = krippendorff.alpha(reliability_data=voting_data)
print("Image:               "+ str(alpha.round(6)))

voting_data = df[['Text_1', 'Text_2', 'Text_3']].values
alpha = krippendorff.alpha(reliability_data=voting_data)
print("Text:                "+ str(alpha.round(6)))

voting_data = df[['Image + Text_1', 'Image + Text_2', 'Image + Text_3']].values
alpha = krippendorff.alpha(reliability_data=voting_data)
print("Image + Text:        "+ str(alpha.round(6)))

Is this a meme?_1:   0.000628
Image:               0.000429
Text:                -2.2e-05
Image + Text:        -0.0

In [18]:
df = df[(df['Is this a meme?_1']+df['Is this a meme?_2']+df['Is this a meme?_3']>=2.0)]

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2785 entries, 0 to 49
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Is this a meme?_1  2785 non-null   float64
 1   Is this a meme?_2  2785 non-null   float64
 2   Is this a meme?_3  2785 non-null   float64
 3   Image_1            2785 non-null   float64
 4   Image_2            2785 non-null   float64
 5   Image_3            2785 non-null   float64
 6   Text_1             2785 non-null   float64
 7   Text_2             2785 non-null   float64
 8   Text_3             2785 non-null   float64
 9   Image + Text_1     2785 non-null   float64
 10  Image + Text_2     2785 non-null   float64
 11  Image + Text_3     2785 non-null   float64
dtypes: float64(12)
memory usage: 282.9 KB

In [20]:
#Only Meme
voting_data = df[['Image_1', 'Image_2', 'Image_3']].values
alpha = krippendorff.alpha(reliability_data=voting_data)
print("Image:               "+ str(alpha.round(6)))

voting_data = df[['Text_1', 'Text_2', 'Text_3']].values
alpha = krippendorff.alpha(reliability_data=voting_data)
print("Text:                "+ str(alpha.round(6)))

voting_data = df[['Image + Text_1', 'Image + Text_2', 'Image + Text_3']].values
alpha = krippendorff.alpha(reliability_data=voting_data)
print("Image + Text:        "+ str(alpha.round(6)))

Image:               0.001589
Text:                0.000548
Image + Text:        0.00045